Repository 9c5s/imas_music_db: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, python-format, yaml-lint, yaml-format, shell-lint, shell-format

lefthook.yml:

---
# Lefthook設定ファイル - Git hookによる自動品質チェック
pre-commit:
  parallel: true
  commands:
    # Python品質チェック
    python-lint:
      glob: "*.py"
      run: uv run ruff check --fix --config config/ruff.toml {staged_files}
      stage_fixed: true
    python-format:
      glob: "*.py"
      run: uv run ruff format --config config/ruff.toml {staged_files}
      stage_fixed: true

    # YAML品質チェック
    yaml-lint:
      glob: "*.{yaml,yml}"
      run: uv run yamllint -c config/yamllint.yml {staged_files}
    yaml-format:
      glob: "*.{yaml,yml}"
      run: uv run yamlfix -c config/yamlfix.toml {staged_files}
      stage_fixed: true

    # シェルスクリプト品質チェック
    shell-lint:
      glob: "*.sh"
      run: uv run shellcheck --rcfile=config/.shellcheckrc {staged_files}
    shell-format:
      glob: "*.sh"
      run: uv run shfmt -i 2 -p -s -ci -sr -fn -w {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    # より包括的な品質チェック（全ファイル対象）
    python-check-all:
      run: uv run ruff check --config config/ruff.toml .
    yaml-check-all:
      run: uv run yamllint -c config/yamllint.yml .
    shell-check-all:
      run: |
        if ls ./*.sh 1> /dev/null 2>&1; then
          uv run shellcheck --rcfile=config/.shellcheckrc ./*.sh
        fi
        if ls scripts/*.sh 1> /dev/null 2>&1; then
          uv run shellcheck --rcfile=config/.shellcheckrc scripts/*.sh
        fi

# メッセージ設定
colors: true
no_tty: false

# Gitのカラー出力を有効化
output:
  - meta
  - summary

Serena関連ファイルを除外
  .gitignore
Due: none

コーディング規約を全体設定に移動
  CLAUDE.md
Due: none

見出しの体裁統一
  .gitignore
Due: none

chore: .gitignoreの更新とコーディング規約のドキュメント整理 (#55)
  .gitignore
  CLAUDE.md
Due: none

コード品質チェックアクションを削除
  .github/workflows/code_quality.yml
Due: yaml-lint, yaml-format

actions/checkoutをv5に更新
  .github/workflows/claude.yml
  .github/workflows/update_json_data.yml
Due: yaml-lint, yaml-format

yamlの文字数制限を100に緩和
  config/yamlfix.toml
  config/yamllint.yml
Due: yaml-lint, yaml-format

actionsのバージョンをSHAでピン留め
  .github/workflows/claude.yml
  .github/workflows/update_json_data.yml
Due: yaml-lint, yaml-format

Create dependabot.yml
  .github/dependabot.yml
Due: yaml-lint, yaml-format

use uv
  .github/dependabot.yml
Due: yaml-lint, yaml-format

add github-actions
  .github/dependabot.yml
Due: yaml-lint, yaml-format

タイムゾーンと実行時刻を指定
  .github/dependabot.yml
Due: yaml-lint, yaml-format

不要ファイル削除
  .github/workflows/code_quality.yml
  scripts/auto_pr.py
  scripts/fix_workflow_errors.py
  scripts/monitor_pr.py
Due: python-lint, python-format, yaml-lint, yaml-format

依存関係チェック頻度変更
  .github/dependabot.yml
Due: yaml-lint, yaml-format

CLAUDE.mdとscripts.shを実態に合わせて修正
  CLAUDE.md
  scripts.sh
Due: shell-lint, shell-format

lefthook.ymlから存在しないscripts/*.shへの参照を削除
  lefthook.yml
Due: yaml-lint, yaml-format

CLAUDE.mdの行番号参照をシンボル名ベースに変更
  CLAUDE.md
Due: none

CLAUDE.mdとscripts.shを実態に合わせて修正 (#60)
  CLAUDE.md
  lefthook.yml
  scripts.sh
Due: yaml-lint, yaml-format, shell-lint, shell-format

feat: メインブランチへの直接コミットを防止するlefthookジョブを追加
  lefthook.yml
Due: yaml-lint, yaml-format

refactor: 設定ファイルをpyproject.tomlとルートディレクトリに統合
  .editorconfig
  .shellcheckrc
  .yamllint.yml
  CLAUDE.md
  config/pyrightconfig.json
  config/ruff.toml
  config/yamlfix.toml
  lefthook.yml
  pyproject.toml
  scripts.sh
  sheet_config.yml
  sheet_to_json.py
Due: python-lint, python-format, yaml-lint, yaml-format, shell-lint, shell-format

fix: dependabot.ymlにYAMLドキュメント開始マーカーを追加
  .github/dependabot.yml
Due: yaml-lint, yaml-format

chore: .gitattributesを追加して改行コードをLFに統一
  .gitattributes
Due: none

fix: protect-branchフックをデフォルトブランチ未解決時も機能するよう修正
  lefthook.yml
Due: yaml-lint, yaml-format

chore: .gitattributesの改行コード設定を汎用パターンに統合
  .gitattributes
Due: none

fix: Ruff設定をプロジェクト実態に合わせて修正
  pyproject.toml
Due: none

docs: 見出しとコードフェンスの間に空行を追加
  CLAUDE.md
Due: none

設定ファイルの統合とlefthookブランチ保護の追加 (#61)
  .editorconfig
  .gitattributes
  .github/dependabot.yml
  .shellcheckrc
  .yamllint.yml
  CLAUDE.md
  config/pyrightconfig.json
  config/ruff.toml
  config/yamlfix.toml
  lefthook.yml
  pyproject.toml
  scripts.sh
  sheet_config.yml
  sheet_to_json.py
Due: python-lint, python-format, yaml-lint, yaml-format, shell-lint, shell-format
